database.config.php
config.ini.php
Serializer/*.ser
smc/core/vendors/htmlpurifiersa/standalone/HTMLPurifier/DefinitionCache/Serializer/HTML
smc/core/vendors/htmlpurifiersa/standalone/HTMLPurifier/DefinitionCache/Serializer/URI
smc/core/vendors/htmlpurifiersa/standalone/HTMLPurifier/DefinitionCache/Serializer/CSS
*.log
*.tmp*
.project
smc/tmp/cache/minify_*
smc/tmp/cache/smc_*
