database.config.php
Serializer/*.ser
smc/core/vendors/htmlpurifiersa/standalone/HTMLPurifier/DefinitionCache/Serializer/HTML
smc/core/vendors/htmlpurifiersa/standalone/HTMLPurifier/DefinitionCache/Serializer/URI
*.log
*.tmp*
.project
smc/tmp/cache/minify_*
